<footer class="site-footer">
  <div class="wrapper">
    <span>&copy; {% year %} {{ site.org }}. Roadrunner Mission Lab is an internal innovation initiative.</span>
    <span>
      <a href="/strategy/">Full strategy report</a>
      &nbsp;·&nbsp;
      <a href="/#help">Get involved</a>
    </span>
  </div>
</footer>
