<header class="site-header">
  <div class="wrapper">
    <a class="site-header__brand" href="{{ '/' | url }}">
      <img class="site-header__logo" src="{{ '/img/brand/logo.png' | url }}" alt="{{ site.name }}" width="493" height="131">
    </a>
    <nav aria-label="Primary">
      <ul>
        {% for item in site.navigation %}
        <li><a href="{{ item.url | url }}">{{ item.text }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
